#projects/
Output/
Listing/
Listings/
Objects/
Lis/
Obj/
*.uvopt
*.uvoptx
*.uvgui.Administrator
*.uvguix.Administrator
*.uvgui_Administrator.bak
*.dep
*.uvgui.DELL
*.uvguix.DELL
*.uvgui_DELL.bak
*.saved_uv4
JLinkSettings.ini
JLinkLog.txt

.DS_Store
.vscode/
.vs/
bin/
obj/
*.userprefs

